/****************************************************************
 * Description: This CSS file will support the presentation layer
 *              for the index.js file.
 * Date: 2019-02-03
 * Author: Leo Gasteiger
 ****************************************************************/

@import url('basic-css-leo.css');
@import url('https://fonts.googleapis.com/css?family=Quattrocento|Roboto+Mono');

#heading {

} /* end #heading; Specificity value=> 100 */

#heading h1 {
  font-family: 'Quattrocento', serif;
  text-shadow: 3px -4px 1px #eee;
  
} /* end #heading h1; Specificity value=> 100 + 1 = 101 */

#heading p {
  font-size: 0.5em;
  font-family: 'Roboto Mono', monospace;
} /* end #heading p; Specificity value=> 100 + 1 = 101 */

footer {
  padding: 3em 0 0 0;
}